<!DOCTYPE html>
<html>
  <head>
    <title><%= params['title'] %></title>
    <meta property="og:url" content="<%= request_url %>">
    <% meta_tags.each do |key, value| %>
      <meta property="<%= key %>" content="<%= value %>">
    <% end %>
  </head>
  <body>

    <script>
      window.location = "<%= params['url'] %>";
    </script>
    
    <div class="fb-share-button" data-href="<%= request_url %>" data-layout="icon" data-mobile-iframe="true"></div>
  </body>
</html>
